<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <body>
    
    <div class="w3-container w3-teal">
      <h1>Header</h1>
    </div>
    
    <div class="w3-container">
      <p>The w3-container class can be used to display headers.</p>
    </div>
    
    <div class="w3-container w3-teal">
        <h1>Header</h1>
    </div> 

 
    <div class="alert alert-info" role="alert"> <strong>Resultados:</strong> Mostramos los datos enviados del formulario. </div>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <div class="container" style="padding:50px 50px;">  
    <div class="alert alert-info" role="alert"> <strong>Resultados:</strong> Mostramos los datos enviados del formulario. </div>
    <div class="row well alert alert-success">TEXT<pre>TEXTO</div>

        <div class="w3-container">
            <h2>W3.CSS Modal</h2>
            <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Open Modal</button>
          
            <div id="id01" class="w3-modal">
              <div class="w3-modal-content">
                <div class="w3-container">
                  <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                  <p>Some text. Some text. Some text.</p>
                  <p>Some text. Some text. Some text.</p>

                  
                </div>
              </div>
              
            </div>
            <input type="submit" name="submit" value="Do Something">
            <button name="forwardBtn" onclick="test2()">Forward</button>

            <input type="submit" name="submit" value="Do Something Else">
          </div>
</div>


</body>
</html>

